/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.ask-layout {
  margin-top: 2rem;
}

.search-form {
  display: flex;
  align-items: center;
  /* margin: 2rem; */
}

.search-form__input {
  flex-grow: 1;
}

.card__speaker {
  font-style: italic;
}

p {
  margin: 0;
}

.card__css {
  border-left-color: lightgrey;
  border-width: 0px 0px 0px thick;
}

.go-back-link {
  margin-top: 3rem;
  text-align: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.coach-card {
  background-color: lightyellow;
}
